NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:5173
RETRIEVAL_API_V1_URL=http://localhost:8110/v1/gdb/search
RETRIEVAL_API_V2_URL=http://localhost:8110/v2/gdb/search-combined
RETRIEVAL_API_TIMEOUT_MS=90000
